<% provide(:title, "About") %>
<h1>
    About SocialH3x
</h1>

<p>
    SocialH3x is aiming to provide you with the ultimate social media experience!
    From using top-of-the-line security protocols, and ensuring the server & application 
    security measures. We are aiming to bring forth the next generation of social media experience.
</p>