<% provide(:title, 'Contact') %>
<h1>Contact SocialH3x</h1>

<p>
    If you have any questions or concners, please feel free to contact us directly;<br/>
    <br/>
    
    Ruby on Rails Engineer | Linux Server Admin ~ <%= link_to 'aubrey@socialhex.org', 'mailto:aubrey@socialhex.org' %><br/>
    <br/>
    Marketing & Promoting ~ <%= link_to 'kurt@socialhex.org', 'mailto:kurt@socialhex.org' %><br/>
    <br/>
    Artist ~ <%= link_to 'adam@socialhex.org', 'mailto:adam@socialhex.org' %>
</p>