<% provide(:title, "Help") %>
<h1>
    Help with SocialH3x 
</h1>

<p>
    If you would like assistance on using your new SocialH3x account, please 
    watch this video;<br/>
    ** Insert YouTube Video Here! **
</p>