<div class="center jumbotron">
    <h1> Welcome to SocialH3x</h1>
    
    <h2>
        This is the landing page for your ultimate, safe, and secured 
        social media site <%= link_to 'SocialH3x', root_path %>!
    </h2>
    
    <%= link_to 'Register Now!', '#', class: 'btn btn-lg btn-primary' %>
</div>