/* Set Male Fonts */
@font-face
{
    font-family: Male;
    font-family: 'Syncopate', sans-serif;
}

/* Set Female Fonts */
@font-face
{
    font-family: Female;
    font-family: 'Cinzel Decorative', cursive;
}

/* Set Alien Fonts */
@font-face
{
    font-family: Alien;
    font-family: 'Ruslan Display', cursive;
}

/* Set Cyborg Fornts */
@font-face
{
    font-family: Cyborg;
    font-family: 'Source Code Pro', monospace;
}

/* Set Basic Typography */
h1, h2, h3, h4, h5, h6
{
    line-height: 1;
}

h1
{
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2 
{
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #777;
}

p 
{
    font-size: 1.1em;
    line-height: 1.7em;
}