footer 
{
    margin-top: 45px;
    padding-top: 5px;
    border-top: 3px solid #EAEAEA;
    color: #FFF;
}

footer a 
{
    color: #0F0;
}

footer a:hover 
{
    color: #00F;
}

footer small 
{
    float: left;
}

footer ul 
{
    float: right;
    list-style: none;
}

footer ul li 
{
    float: left;
    margin-left: 15px;
}