@import "bootstrap-sprockets";
@import "bootstrap";

/* Set Universal Setup */

body 
{
    background-image: image-url('blur_bckg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

section 
{
    overflow: auto;
}

textarea
{
    resize: vertical;
}

.center
{
    text-align: center;
    background: rgba(255,255,255,0.6);
    margin-top: 20px;
}

.center h1 
{
    margin-bottom: 10px;
}