.topnav 
{
    background: rgba(0,0,0,0.8);
    overflow: hidden;
}

.topnav a 
{
    float: right;
    display: block;
    color: #FFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

.topnav a:hover 
{
    background: rgba(0,255,0,0.8);
    color: #000;
}

.active
{
    background: rgba(0,0,255,0.8);
    color: #000;
}

#logo 
{
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
}

#logo:hover 
{
    color: #0F0;
    text-decoration: none;
    background: rgba(0,255,0,0.8);
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}