<footer class="footer">
    <small>
        <%= link_to 'SocialH3x', root_path %> is built upon the <%= link_to image_tag('rails.png', size: '25x25'), 'http://www.rubyonrails.org', target: '_blank' %> Framework! 
        By; <%= link_to 'Aubrey Love', 'https://www.linkedin.com/in/aubreywlove/', target: '_blank' %>
    </small>
    <nav>
        <ul>
            <li><%= link_to 'About', about_path %></li>
            <li><%= link_to 'Contact', contact_path %></li>
        </ul>
    </nav>
</footer>