<div class="topnav" id="myTopnav">
    <% if current_page?(controller: 'static_pages', action: 'home') %>
        <%= link_to 'Home', root_path, class: 'active' %>
        <%= link_to 'About', about_path %>
        <%= link_to 'Help', help_path %>
        <%= link_to 'Contact', contact_path %>
    <% end %>
    
    <% if current_page?(controller: 'static_pages', action: 'about') %>
        <%= link_to 'Home', root_path %>
        <%= link_to 'About', about_path, class: 'active' %>
        <%= link_to 'Help', help_path %>
        <%= link_to 'Contact', contact_path %>
    <% end %>
    
    <% if current_page?(controller: 'static_pages', action: 'help') %>
        <%= link_to 'Home', root_path %>
        <%= link_to 'About', about_path %>
        <%= link_to 'Help', help_path, class: 'active' %>
        <%= link_to 'Contact', contact_path %>
    <% end %>
    
    <% if current_page?(controller: 'static_pages', action: 'contact') %>
        <%= link_to 'Home', root_path %>
        <%= link_to 'About', about_path %>
        <%= link_to 'Help', help_path %>
        <%= link_to 'Contact', contact_path, class: 'active' %>
    <% end %>
</div>